<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
    <add key="repositoryPath" value="./nugetpackages" />
    <add key="globalPackagesFolder" value="./nugetpackages" />
  </config>
  <settings>
    <repositoryPath>./nugetpackages</repositoryPath>
  </settings>
  <packageSources>
  <add key="local" value="./src/TextTemplating.Cli/nupkg" />
   <add key="NuGet.org" value="https://nuget.org/api/v3/" />
   
  </packageSources>
</configuration>
